html, body {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ee9ca7, #ffdde1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ee9ca7, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

footer {
    flex-shrink: 0
}

.footerStyle {

    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navStyle {
    background-color: #212121;
    color: #efefef;
    padding: 10px;
 
}